.main-contents__body__list__message
  .main-contents__body__list__message__name
    = message.user.name
  .main-contents__body__list__message__data
    = format_posted_time(message.created_at)
  .main-contents__body__list__message__body
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
