= render partial: "headMessage"
.left-contents
  .left-contents__user
    .left-contents__user__name
      name
    .left-contents__user__bt1
      = link_to "/groups/new" do
        %i.fa.fa-cog
    .left-contents__user__bt2
      = link_to "/users/edit" do
        %i.fa.fa-pencil-square-o
  .left-contents__groups
    = render partial: "group"
.main-contents
  .main-contents__header
    .main-contents__header__group
      グループの名前
      .main-contents__header__group__edit
        edit
    .main-contents__header__members
      メンバー
  .main-contents__body
    .main-contents__body__list
      =render partial: "message"
  .main-contents__footer
    %input.message{name: "message", placeholder: "type a message", type: "text"}/
    %label.chat-file{for: "message_image"}
      %input#message_image.image{name: "message[image]", type: "file"}/
      %i.fa.fa-image
    %input.submit{name: "commit", type: "submit", value: "Send"}/
