.left-contents
  .left-contents__user
    .left-contents__user__content
      .left-contents__user__content__name
        name
      %a.left-contents__user__content__bt1
      %a.left-contents__user__content__bt2
  .left-contents__groups
    .left-contents__groups__group
    .left-contents__groups__group
.main-contents
  .main-contents__header
  .main-contents__body
    .main-contents__message
    .main-contents__message
  .main-contents__footer
