.left-contents
  .left-contents__user
    .left-contents__user__content__name
      name
    .left-contents__user__content__bt1
      = link_to root_path do
        %i.fa.fa-cog
    .left-contents__user__content__bt2
      = link_to root_path do
        %i.fa.fa-pencil-square-o
  .left-contents__groups
    .left-contents__groups__group
    .left-contents__groups__group
.main-contents
  .main-contents__header
  .main-contents__body
    .main-contents__message
    .main-contents__message
  .main-contents__footer
