.left-contents{
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  float: left;
    .left-contents__user{
      height: 15%;
      background-color: #253141;
      position: relative;
        .left-contents__user__content__name{
          font-size: 16px;
          font-weight: bold;
          color: #FFFFFF;
          float: left;
          padding: 50px 10px;
          display: inline-block;
        }
        .left-contents__user__content__bt1{
          color: #FFFFFF;
          float: right;
          padding: 50px 70px 0 0;
        }
        .left-contents__user__content__bt2{
          color: #FFFFFF;
          float: right;
          padding-top: 50px;
        }
      }
    .left-contents__groups{
      background-color: #2f3e51;
      height: 85%;
        .left-contents__groups__group{
          height: 80px;
          padding: 20px;
            .left-contents__groups__group__name{
              color: #FFFFFF;
              font-size: 15px;
              padding-bottom: 5px;
            }
            .left-contents__groups__group__message{
              color: #FFFFFF;
              font-size: 11px;
            }
        }
    }
}

.main-contents{
  width: calc(100vw - 300px);
  height: 100vh;
  float: right;
    .main-contents__header{
      height: 15%;
      position: relative;
        .main-contents__header__group{
          padding: 35px 0 15px 20px;
          font-size: 20px;
          color: #333333;
            .main-contents__header__edit{
              margin: -10px 40px 0 0;
              border: solid 1px #38AEF0;
              color: #38AEF0;
              padding: 15px 20px;
              float: right;
              font-size: 15px;
            }
          }
          .main-contents__header__members{
            padding: 0 0 46px 20px;
            font-size: 12px;
            color: #999999;
            display: inline-block;
          }
    }
    .main-contents__body{
      height: calc(85% - 90px);
      background-color: orange;
        .main-contents__message{
          height: 100px;
          background-color: orange;
        }
    }
    .main-contents__footer{
      height: 90px;
      background-color: black;
      clear: both;
      position: relative;
    }
}
